* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form  {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
    margin-top: 8p;
}

input, label {
    margin-bottom: 8px;
}

p {
    margin-top: 8px;
}